<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011797608270-bhsqo5osmk86bguj4kor91ufo2t81cev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011797608270-bhsqo5osmk86bguj4kor91ufo2t81cev</string>
	<key>API_KEY</key>
	<string>AIzaSyBNcK_ndVNMjetwFRlvXxQUKT2_4duSV5M</string>
	<key>GCM_SENDER_ID</key>
	<string>1011797608270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gifApp</string>
	<key>PROJECT_ID</key>
	<string>gif-app-be00f</string>
	<key>STORAGE_BUCKET</key>
	<string>gif-app-be00f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011797608270:ios:6c2ae215c4510ab948c01f</string>
</dict>
</plist>